
@import "./utils/variables";
@import "./utils/utils";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./components/logo";
@import "./components/social-list";
@import "./components/page-header";
@import "./components/hero-page";
@import "./components/features";
@import "./components/about-section";
@import "./components/team-section";
@import "./components/clients-section";
@import "./components/footer-page";
@import "./components/modal";
@import "./components/modal-form";
@import "./components/portfolio-page";
@import "./components/portfolio_btns";