.logo {
    @extend %link;
    display: block;
    color: $accent-color;
    font-family: $logo-font;
font-weight: 700;
font-size: 26px;
line-height: 1.19;

   &:hover, &:focus {
    color: $accent-color;

}
}
.page-header__logo {
    margin-right: 93px;
    padding: 24px 0;
}
.logo__header-text {
    @include transition(color);
    color: $primary-text-color;
    &:hover, &:focus {
        color: inherit;
    }
}
.page-footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}
.logo__footer-text {
    @include transition(color);
    color: $primary-white-color;
   
    &:hover, &:focus {
        color: inherit;
    }
}


