.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header__container {
    @extend %container;
    display: flex;
    align-items: center;
    
}

.site-nav__list {
    @extend %list;
    display: flex;
    
}

.site-nav__item {
    position: relative;

    &:not(:last-child) {
    margin-right: 50px;
}
}

.site-nav__link--current {
    @extend %link;
    color: $accent-color;
    &::after {
        position: absolute;
        bottom: 0;
    left: 0;
    
        content: "";
        width: 100%;
    height: 4px;
    
    
    background-color: $accent-color;
    border-radius: 2px;
    }
}


.site-nav__link {
    @extend %link;
    @include transition(color);
    display: block;
    padding: 32px 0;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;

 &:hover, &:focus {
    color: $accent-color;
 }
 }
 

 .contacts-list {
     @extend %list;
     display: flex;
     margin-left: auto;
 }
 
 .contacts-list__item:not(:last-child) {
    margin-right: 30px;
}

 .contacts-list__link {
     @extend %link;
     @include transition(color);
    display: inline-flex;
    align-items: center;
    padding: 32px 0;

    color: $secondary-text-color;
     font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;

 &:hover, &:focus {
    color: $accent-color;
 }
 }
 
 .contacts-list__icon {
    fill: currentColor;
    margin-right: 10px;
}