%container {
       width: 1200px;
       padding-left: 15px;
       padding-right: 15px;
       margin-right: auto;
       margin-left: auto;
   }

%link {
   text-decoration: none;
   color: inherit;
}
%list {
   list-style: none;
   margin: 0;
   padding: 0;
}
%button {
   border: none;
cursor: pointer;
padding: 10px;
min-width: 200px;
min-height: 50px;
    background-color: $accent-color;
    color: $primary-white-color;

   
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

&:hover, &:focus {
   background-color: $btn-hover-bcg-color;
}
}

%img {
   display: block;
   width: 100%;
   height: auto;
}
%textarea {
   resize: none;
}

%section {
   padding: 94px 0;
}

%section-title {
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 36px;
line-height: 1.16;
text-align: center;

}
%visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
}