body {
    color: $primary-text-color;
    background-color: $primary-white-color;
    font-family: $primary-font;
    letter-spacing: $primary-letter-spacing; 

   }
   h1, h2, h3, h4, h5, h6, p {
    margin: 0;
 }