
$primary-white-color: #FFFFFF;
$tarnsparent-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196F3;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-bgcolor: #2F303A;
$secondary-bgcolor: #F5F4FA;
$hero-bgcolor: #C4C4C4;
$primary-icon-color: #AFB1B8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$input-label-color: rgba(255, 255, 255, 0.6);
$btn-hover-bcg-color: #188CE8;
$primary-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$primary-letter-spacing: 0.03em; 

